body {
    background-color: white;
}

#headingDiv h1 {
    background: linear-gradient(345deg, rgb(218, 243, 218), rgb(151, 241, 151) 80%);
    width: 60%;
    margin: auto;
    padding: 1em;
    text-align: center;
    border: 2px double rgb(44, 51, 51);
    border-radius: 10px;
}

#headingDiv p {
    text-align: center;
}

#fruitsPickedDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
