body {
    font-family: futura;
    background: #f9f9fa;
    min-width: 835px;
    /* background: rgba(255, 155, 0, 0.2); */
}
/* #94c954 */

#headingDiv {
  background: #90d8e7;
  padding-bottom: 2em;
}

#headingDiv h1 {
    /* color: rgb(44, 51, 51); */
    color: black;
    margin: auto;
    padding: .5em;
    text-align: center;
    letter-spacing: 0.25em;
    font-size: 3em;
}

#headingDiv p {
  text-align: center;
  /* background: #94c954; */
  justify-content: center;
}


#fruitsPickedDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.cards {
    background: white;
    border: 2px double rgb(44, 51, 51);
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin: 1em 1%;
    position: relative;
    min-width: 280px;
}

.cards h2 {
  background: #d7f4c5;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  display: flex;
  justify-content: space-between;
}

span {
  text-align: right;
}

.cards p {
  padding-right: 1em;
}

.delete-btn {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  #selectFruitDiv {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-left: 10px;
    
}

#fruitList {
    margin-right: 1em;
}

#fruitSelectButton {
    margin-right: 15em;
}

h2 {
    text-align: left;
    margin-left: 1em;
}

p {
    text-align: left;
    margin-left: 1em;
}

.add-fruits {
    display: flex;
    flex-direction: column;
  }
  
  #addFruitsDiv form label {
    margin-bottom: 1px;
  }
  
  #addFruitsDiv form input[type="text"] {
    margin-bottom: 10px;
  }
  
  #addFruitsWrapper {
    float: right;
    margin-right: 5em;
    margin-top: 10px;
    
  }

  #addFruitsForm {
    display: none;
    border-style: double;
    padding: 1em;
    margin: 20px;
    letter-spacing: 0.1;
    background-color: #d7f4c5;
    text-transform: uppercase;
  }
 

  #fruitList, #addNewFruit, #clearButton, #fruitSelectButton {
    font-size: 1.2em;
    padding: 0.5em 1em;
    
  }

  #clearButton {
    margin-left: 1em;
  }